
#twitter-login-button{
  background:url(/theme/all/images/sign-in-with-twitter-l.png) no-repeat;
  background-position:center;  
  width:151px !important; 
  height:24px !important;
  display:inline-block;
  text-align:center; 
  cursor:pointer;
  margin: 1em;
  margin-bottom:1.5em;

}
#RES_ID_fb_login{
  
}

.success-message{
	padding:2px;
	background-color:#E3F6CE;
	border-color:#04B404;
	border-style:solid;
	border-width:2px;
	margin-left: 45px;
	margin-bottom:0.5em;
	width:60%;
}
.success-message>p{
  color:#04B404;
  font-size: 1em;
  margin:4px;
	
}
.error-message{
	padding:0.5em;
	background-color:#F8E0E0;
	border-color:#DF0101;
	border-style:solid;
	border-width:2px;
	margin-left: 45px;
	margin-bottom:0.5em;
	width:60%;
}
.error-message>p{
  color:#DF0101;
  font-size: 1em;
  margin:4px;
}

.messsage-area{
	margin:2px 0 2px 0;
	height:32px;
	padding: 3px;
}
