/*
#primary-material{ background: #ffffff;
				border: none;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-khtml-border-radius: 3px;
				border-radius: 3px;
				font: italic 13px Georgia, "Times New Roman", Times, serif;
				outline: none;
				padding:3px 3px 0; 
				margin:0;
				
				width: 206px; cursor:text; }
#item-primary-material{width:30px !important; margin:0 0 2px 0; padding:0 0 3px; position:relative; top:0; border:none; float: left;}
*/