		
	ul#my-art-list{
		list-style: none;

		
	}
	li.my-list-item{
		background: #b9cf6a;
				background: rgba(255,255,255,.3);
				border-color: #e3ebc3;
				border-color: rgba(255,255,255,.6);
				border-style: solid;
				border-width: 2px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
		padding: 4px;
		margin: 5px;
	}
   
 li.item-highlight{
 	background-image: none; background-color: rgb(255, 255, 153);
 	cursor: pointer;
 	color:#000;
 }
img.item-art-thumb{
	display: inline-block;
}

ul.art-item-summary{
		list-style: none;
		display: inline-block;
		vertical-align: top;
		margin: 0.5em;

		
	}