

#search-form-panel{
	position: fixed;
	top: 50px;
	left: 0;
	display: none;
	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	width: 20em;
	height: auto;
	padding: 30px 30px 30px 130px;
	
	z-index: 100;
}

#search-form-panel h2{
	color: #fff;
	margin-left:-3em;
}

#art-search label{
	display: block;
}
#art-search input{
	display: block;
	margin-bottom: 1em;
}





.ui-picker{
	margin-bottom:1em;
}
