

*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
	position: relative;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	background-color:#769028;
	font-family:Arial, Helvetica, sans-serif;
}

/* Hyperlink Styles: */

a, a:visited {
	color:#ACDD4A;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}


h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

p{
	line-height:1.5em;
	padding-bottom:1em;
}
#search {float:right;border:none;}
#search input {
    -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
    border: 1px solid #CCCCCC;
    float: left;
    padding: 8px;
    width: 285px;
	margin:5px;
}
#search input.btn {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 10px 0 0 -40px;
    padding: 0;
    width: auto;
}
.line{
	/* The dividing line: */
	height:1px;
	background-color:#455031;
	border-bottom:1px solid #586632;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#4D4C33;
	border-bottom-color:#769028;
	margin:1.3em 0;
}
/* Content Blocks */
.blocks {width:200px; float:left; 
		margin-right:10px; 
		padding:10px; 
		height:350px;
		background:#fff; 
		-moz-box-shadow:0 0 8px #666; 
		-webkit-box-shadow:0 0 8px #666;   
		box-shadow:0 0 8px #666; 
		text-align:justify; 
		margin-bottom:15px;
		color:#000000 !important;
		
.blocks img {margin-bottom:5px;}
.blocks >p{
	
	font-family:Arial,Verdana,Helvetica,sans-serif; font-size:12px;}
}

footer .line{
	margin:2em 0;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:block;
	 
}




/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#246024;
	margin:3em 0;
	padding:20px;
	
	/*text-shadow:0 2px 0 black;*/
}


figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

figure img{
	margin-left:-60px;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#3D542F;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#3D542F;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
